.bibleRef{
    font-style: italic;
}

.bibleVerse {    
    font-size: 14px;
}

.title {
    display: block;
    text-decoration: underline;
    font-size: 15px;
}

.description{
    font-size: 13px;
    font-family: monospace;
}

.blogItem {
    margin: 10px 10px;
}

.green a{
    color: green !important;
}